/* ***********************************************
GENERAL STYLES
*********************************************** */
// ::-webkit-scrollbar {
//   display: none;
// }

// .welcome-background {
//   background-image: url('./assets/desktop-background.svg');
// }

body {
  height: 100%;
  background-image: url("~/src/assets/desktop-background.svg");
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

.color-pink {
  color: $pink;
}

.color-beige {
  color: $beige;
}

.color-grey {
  color: $grey;
}

h1 {
  text-align: left;
  font: normal normal bold 24px/36px Helvetica;
  letter-spacing: 0px;
  opacity: 1;
}

h5 {
  color: $darkgrey;
  text-align: left;
  font: oblique normal normal 16px/24px Helvetica;
  letter-spacing: 0px;
  opacity: 1;
}
