/* ***********************************************
GLOBAL VARIABLES
*********************************************** */
// $base-color: #c6538c;
$white: #FFFFFF;
$beige: #CC905D;
$cream: #9A558029;
$pink: #9A5580;
$lightgrey: #707070;
$grey: #7C7C7C;
$darkgrey: #333032;