/* ***********************************************
GLOBAL VARIABLES
*********************************************** */
// $base-color: #c6538c;
$white: #FFFFFF;
$beige: #CC905D;
$cream: #9A558029;
$pink: #9A5580;
$grey: #707070;